.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background-color: rgb(33, 37, 41);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hover:hover {
  color: #01afff;
}

.title:hover {
  font-size: 48px;
}

.title {
  font-size: 38px;
  color: #20c8f7;
  transition: font-size 0.2s ease-out;
}
